section {
    margin-top: 90px;
    margin-bottom: 90px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}
.small-text {
    color: #5b5b5b;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

.animated {
    position: relative;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item {
    color: #ffc200;
}

.animated-item:nth-child(1n + 1) {
    animation-delay: 1s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
